<div>
  <table>
    <thead>
      <tr>
        <th>フォーラム</th>
        <th>詳細説明</th>
        <th>スレッド数</th>
        <th>作成日時</th>
      </tr>
    </thead>
    <tbody>
      <% @forums.each do |forum| %>
      <tr>
        <td><%= link_to forum.forum_nm, forum_path(id: forum.forum_id) %></td>
        <td><%= forum.detail %></td>
        <td><%= forum.count_all ||= 0 %></td>
        <td><%= forum.create_dttm %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>