<div class="navigation">
  <span><a href="/forums/">Forums</a></span>
  <% unless @parent_forum.nil? %>
    <span>/</span>
    <span><a href="/forums/<%= @parent_forum.forum_id %>"><%= @parent_forum.forum_nm %></a></span>
  <% end %>
  <% unless @current_forum.nil? %>
    <span>/</span>
    <span><a href="/forums/<%= @current_forum.forum_id %>"><%= @current_forum.forum_nm %></a></span>
  <% end %>
</div>