<div id="main-menu">
  <span><a href="/forums/">フォーラムリスト</a></span>
  <% unless @post.nil? %>
    |
    <span><a href="/forums/<%= @post.forum_id %>">スレッドリスト</a></span>
  <% end %>
  <span></span>
</div>