/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a, a:link, a:visited {
    text-decoration: none;
    color: #f2580b;
}
.osusume {
    position: absolute;
    right: 15px;
    top: 10px;
}
.osu_icon {
    font-size: 20px;
    padding-right: 10px;
}
.t_center {
    text-align: center;
}

.t_right {
    text-align: right;
}

a:hover { text-decoration: underline; }

table.list {
    width: 100%;
    border: 1px solid #CCC;
    border-collapse: collapse;
    background-color: #ffffff;
    text-align: left;
}

table.list, th, td {
    border-bottom: 1px solid #CCC;
    padding: 2px;
}

html, body, p {
    margin: 0 auto;
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    width: 85%;
}

ol {
    list-style: none;
    padding: 0;
    margin-top: 0;
}
.f_left {
    float: left;
}
.f_right {
    float: right;
}
.f_clear {
    clear: both;
}
.hidden {
    display: none;
}

.page_name {
    font-size: 25px;
    color: #f2580b;
}

.paging_control {
    text-align: right;
}

.navigation {
    font-size: 20px;
    margin: 5px auto auto;
}
.container {
    margin: 0 auto;
}

.create .actions input {
    background-color: #f2580b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    padding: 12px 24px;
    transition: background-color 0.5s;
    text-decoration: none;
    display: inline-block;
}
.create .field {
    margin-bottom: 11px;
}

.content, .quote {
    white-space: pre-line;
}

.quote {
    color: dodgerblue;
    text-align: left;
}
.quote_content {
    font-size: small;
}

.post_message {
    background-color: #fff;
    font-weight: 300;
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid #9a9a9a;
    position: relative;
}

.reply_message {
    background-color: #fff;
    font-weight: 300;
    padding: 16px;
    margin-bottom: 10px;
    position: relative;
}

.reply_message img {
    max-width:100%;
    max-height:100%;
    margin:auto;
    display:block;
}

.post_head, .reply_head {
    margin-bottom: 10px;
}
.post_foot {
    margin-top: 12px;
    color: #0084d7;
}
.post_control, .reply_control {
    text-align: right;
    clear: both;
}

.control_item:before {
    content: " | ";
}

.control_item:first-child:before {
    content: "";
}

.reply_foot {
    margin-top: 10px;
    color: #d70000;
}


p.title {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.password {
    font-size: 12px;
}

span.user:before {
    content: "By ";
}
span.user:after {
    content: ", ";
}
span.user {
    font-size: 12px;
    font-weight: bold;
}

.time {
    font-size: 12px;
}

form label {
    display: block;
    width: 100%;
}

form textarea {
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    min-height: 100px;
    padding: 16px;
    transition: border 0.5s;
    width: calc(100% - 32px);
    resize: vertical;
}

form textarea:focus {
    border: 1px solid #0084d7;
    outline: 0;
    transition: border 0.5s;
}

input.title {
    width: 100%;
}

.like_post, .like_reply {
    cursor: pointer;
}

.like-btn {
    color: #797985;
}

.like-btn-unlike {
    color: #ff0a97;
}